$primary: #12486e;
$secondary: #B3A125;

/* Pokemon type color */
$normal: #A8A878; //also be default
$fire: #E24242;
$water: #0909f5;
$electric: #F8D030;
$grass: #78C850;
$ice: #98D8D8;
$fighting: #C03028;
$poison: #A040A0;
$ground: #E0C068;
$flying: #A890F0;
$psychic: #A65E9A;
$bug: #A8B820;
$rock: #B8A038;
$ghost: #705898;
$dragon: #C6A114;
$dark: #705848;
$steel: #B8B8D0;
$fairy: #EE99AC;
