$white: #e0e0e0;
$yellow: #e5e38f;

/*Pokemon type color*/
$normal: #c0c0c0; //also be default
$fire: red;
$water: #0909f5;
$electric: #efef30;
$grass: green;
$ice: #8ac5ff;
$fighting: orange;
$poison: purple;
$ground: orange;
$flying: blue;
$psychic: purple;
$bug: green;
$rock: #624739;
$ghost: brown;
$dragon: yellow;
$dark: blue;
$steel: silver;
$fairy: pink;
